<section>
  <input type="hidden" name="sprite-shadows.shape" value="circle">
  
  <div class="form-group">
    <label for="{{idPrefix}}-adjustForElevation">{{localize "SPRITESHADOWS.SETTINGS.ELEVATIONADJUST.LABEL"}}</label>
    <input type="checkbox" id="{{idPrefix}}-adjustForElevation" name="sprite-shadows.adjustForElevation" {{checked config.adjustForElevation}}>

    <p class="hint">{{localize "SPRITESHADOWS.SETTINGS.ELEVATIONADJUST.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-elevationIncrement">{{localize "SPRITESHADOWS.SETTINGS.ELEVATIONINCREMENT.LABEL"}}</label>
    <input type="number" id="{{idPrefix}}-elevationIncrement" name="sprite-shadows.elevationIncrement" placeholder="0" value="{{config.elevationIncrement}}" min="0">
    <p class="hint">{{localize "SPRITESHADOWS.SETTINGS.ELEVATIONINCREMENT.HINT"}}</p>
  </div>

  <div class="form-group">
    <label for="{{idPrefix}}-liftToken">{{localize "SPRITESHADOWS.SETTINGS.LIFTTOKEN.LABEL"}}</label>
    <input type="checkbox" id="{{idPrefix}}-liftToken" name="sprite-shadows.liftToken" {{checked config.liftToken}}>
    <p class="hint">{{localize "SPRITESHADOWS.SETTINGS.LIFTTOKEN.HINT"}}</p>
  </div>
</section>