<section>
  <div class="form-group">
    <label for="{{idPrefix}}-skew">{{localize "SPRITESHADOWS.SETTINGS.SKEW.LABEL"}}</label>
    <input type="number" id="{{idPrefix}}-skew" name="sprite-shadows.skew" step="1" placeholder="0" value="{{config.skew}}">

    <p class="hint">{{localize "SPRITESHADOWS.SETTINGS.SKEW.HINT"}}</p>
  </div>
</section>